body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    width: calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  button:focus {
    outline: none;
  }
  
  button.clear {
    background-color: #dc3545;
  }
  
  button.clear:hover {
    background-color: #c82333;
  }

  div.margin{
    margin-top: 10px;
  }